*{

margin: 0;
}

header, body{


font-family: sans-serif;

}



header, .menu, .menu_hamburguer, .search-box, .logo_header, .info_pesssoa, .navigation_header{

display: flex;

margin: auto;

padding: 10px;

flex-direction: row;

align-items: center;

background-color: white;

height: 4.0em;

justify-content: flex-start;

}

.menu_hamburguer{

  margin-right: 0%;
}

.search-box{

  margin-left: 30px;

}

.navigation_header{

  gap: 2em;
  
}

.container{

  margin-top: 15px;
  margin-bottom: 15px;
  width: 100vw;
  height: 4vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sessao {

  margin-top: 40px;
  font-size: small;
  text-indent: 40px;

}

a {

  text-decoration: none;
  
}

main {

  margin-top: 40px;

}
.titulo {

  text-indent: 40px;
  justify-content: right;
  font: 24px sans-serif;
  margin-top: 40px;
  
}

.titulo img{

  margin-left: 70px;
  justify-content: space-between;
  align-items: stretch;

}

#img id{

  margin-left: 0%;
}

.info_complementar {

display: flex;
text-indent: 30px;
padding: 10px;
font-family: "Open Sans", sans-serif;
font-size: 12px;

}


.info_complementar li {

  margin-left: 0%;
  color: green;
}


.produto {

  margin: 40px;
  margin-top: 20px;
  background: transparent;
  width: 45%;
  height: 45%;
  border: thin solid rgb(206, 199, 199);
  border-radius: 0.5em;
  

}

.foto_produto {

width: 70%;
display: flex;
margin: auto;
flex-direction: row-reverse;
}


.fotos_produto1, .fotos_produto3, .fotos_produto4, .fotos_produto5 {

  display:inline-table;
  width: 18%;
  height: 18%;
  border: thin solid rgb(206, 199, 199);
  border-radius: 0.5em;
  margin: 0;

}

.fotos_produto1 {

  margin-left: 40px;

}

.fotos_produto3, .fotos_produto4, .fotos_produto5 {

  margin: 0;

}

.note1, .note3, .note4, .note5{

width: 80%;
display: flex;
margin: auto;

}



  



  



