*{

margin: 0;
}

header, body{


font-family: Arial, Helvetica, sans-serif;

}



header, .menu_hamburguer, .menu .search-box, .logo_header, .info_pesssoa, .navigation_header{

display: flex;

margin: auto;

flex-direction: row;

align-items: center;

background-color: white;

height: 4.0em;

justify-content: flex-start;

}


.navigation_header{

  gap: 2em;
  
}

.container{

  margin-top: 15px;
  margin-bottom: 15px;
  width: 100vw;
  height: 4vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;

}

p{

  



  



