


:root {

  --color-white: #fff;
}

*(

margin: 0;
padding: 0;

)

body{

  font-family: Arial, Helvetica, sans-serif;
  color: (--color-white);

}

.header,
.navigation_header {

display: flex;

flex-direction: row;

align-items: center;
}

.header{

  height: 3.5em;
  justify-content: space-between;

}

.navigation_header{

  gap: 3em;
  
}




